.marquee-container {
  width: 100%;
  overflow: hidden;
  background: white;
  padding: 8px 0;
  color: navy;
  position: relative;
}

.marquee-content {
  display: flex;
  gap: 50px;
  white-space: nowrap;
  animation: marquee 15s linear infinite; /* continuous loop */
}

.marquee-item h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
